---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
PointerAlignment: Left
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveMacros: Consecutive
